@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --branco-neve: #f0f8ff;
    --azul-gelo: #a8d4e8; 
    --azul-profundo: #2c4870;
    --principal:"Playfair Display", serif;

    --areia-clara: #f4d19c;
    --dourado:#ffb347;
    --laranja-queimado:#d2691e;
    --terracota:#8b4513;
}
*{
    padding: 0;
    margin: 0;
}
/*--------Página Himalaia------------*/
div.himalaia{
    width: 100%;
    max-width: 400px;
    height: 400px; 
    overflow: hidden;
    transition: transform 0.4s ease;
    background-image: url(himalaia.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto; 
}
div.himalaia:hover{
    transform: scale(1.05);
}
div#himalaia{
    width: 100%;
    max-width: 500px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.4s ease;
    background-image: url(image.png);
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.237);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 10px;
}
div#himalaia:hover{
    transform: scale(1.05);
}
body.pagina-himalaia{
    background: linear-gradient(to bottom,var(--branco-neve), var(--azul-gelo)) ;
    font-family: var(--principal);
    color: #1a1a2e;
}

main#pagina-himalaia{
    padding: 20px;
    margin: auto;
}
main#pagina-himalaia h2{
    text-shadow: 0 1px 1px black;
    padding-left:6px ;
    color: black;
    margin: 10px;
    border-radius: 10px;

}
main li {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px black;
}


main p{
    padding: 5px;
}
ul.pagina-himalaia:hover li {
 background-color: black;
 color:var(--branco-neve);
 box-shadow: 0 5px 5px var(--azul-gelo);
 transition: background-color 0.3s ease;
}

aside.curiosidades{
    background-color: var(--branco-neve);
    margin-top: 10px;
    border-radius: 10px
}
aside.curiosidades h2{
    background-image: linear-gradient(to top, var(--azul-profundo), var(--azul-gelo));
    padding:10px;
    text-align: center;
    color: black;
    text-shadow:1px 1px 1px rgba(255, 255, 255, 0.494)  ;
    margin:auto;
    border-radius: 10px 10px 0px 0px;
}
.curiosidades:hover li{
    background-color: black;
    color:var(--branco-neve);
    transition: background-color 0.3s ease ;
}
aside>ol {
    list-style-position: inside;
    color: black;
    columns: 2 ;
    padding: 5px;
    margin: 5px;
}
aside li{
    padding:4px;
}


    /*--------Página Principal----------*/


body.pagina-principal{
    background: radial-gradient(circle, 
    #f0f8ff 0%,      
    #4682b4 100%     
);
}
header#pagina-principal{
     padding: 10px;
    font-size: 1em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.411);
    min-height: normal;
    text-align: center; 
    background-image:linear-gradient(to left,transparent, rgba(0, 0, 0, 0.459), var(--azul-gelo));
    color: black;
    font-weight: bold;
}

ul{
    list-style: none;
    padding-left: 0;
}

div.quadrado {
    height: 98vh;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: inline-flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}
main#pagina-principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

main a#pagina-principal{
    text-decoration:none ;
    color: white;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}



.quadrado:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#q1 {

    margin: 10px;
    text-align: center;
    background-image: url(himalaia-img.jpg);
    background-size: cover;
    
}

#q2{
    margin: 10px;
    text-align: center;
    background-image: url(saara.jpg.jpg);
    background-size:cover ;
}
#q3{
    background-color: rgb(6, 89, 0);
    margin: 10px;
    text-align: center;
    background-image: url(../amazonia/amazonia.jpg);
    background-size: cover;
    
}
#q4{
    background-color: rgba(255, 235, 235, 0.582);
    margin: 10px;
    text-align: center;
    background-image: url(../polar/polar.jpg);
    background-size: cover;
}

/*--------Página Saara----------*/

body.pagina-saara{
    background-image: radial-gradient(circle, var(--areia-clara), var(--laranja-queimado));
    margin: 0;
}
header#pagina-saara{
    padding: 10px;
    font-size: 1em;
    text-shadow: 1px 1px 0px rgba(242, 190, 0, 0.924);
    min-height: normal;
    text-align: center; 
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.461);
    background-image: linear-gradient(to left, var(--dourado), var(--laranja-queimado));
}
main.pagina-saara{
    padding: 20px;
    margin: auto;
    font-weight: bold;
}

main.pagina-saara{
    padding: 20px;
    margin: auto;
}
main.pagina-saara h2{
    text-shadow: 0 1px 1px black;
    padding-left:6px ;
    color: black;
    margin: 10px;
    border-radius: 10px;

}
main.pagina-saara li {
    background-color: rgba(255, 255, 255, 0.686);
    color: black;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px black;
}
main.pagina-saara p{
    padding: 5px;
}
div#img1{
    width: 100%;
    max-width: 400px;
    height: 400px; 
    overflow: hidden;
    transition: transform 0.4s ease;
    background-image: url(../saara/img1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto; 
}
div#img1:hover{
    transform: scale(1.05);
}
div#img2{
    width: 100%;
    max-width: 500px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.4s ease;
    background-image: url(../saara/img2.jpg);
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.237);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 10px;
}
div#img2:hover{
    transform: scale(1.05);
}
aside.saara {
    background-color: var(--dourado);
    margin: 10px 10px;
    border-radius: 10px

}
aside.saara h2 {
    padding:10px;
    background-image: linear-gradient(to left,transparent, var(--areia-clara), var(--laranja-queimado));
    text-align: center;
    color: black;
    text-shadow:1px 1px 1px var(--terracota)  ;
    margin:auto;
    border-radius: 10px 10px 0px 0px;
}
aside.saara ol{
    background-color: #ffb347;
    list-style-position: inside;
    color: black;
    columns: 1 ;
    padding: 5px;
    margin: 5px;
}
aside.saara li{
    padding:4px;
}
ul.pagina-saara:hover li {
 background-color: var(--dourado);
 color:rgb(0, 0, 0);
 box-shadow: 0 5px 5px var(--terracota);
 transition: background-color 0.3s ease;
}
ol.pagina-saara:hover li {
 background-color: rgb(255, 196, 35);
 color:rgb(0, 0, 0);
 box-shadow: 0 5px 5px var(--areia-clara);
 transition: background-color 0.3s ease;
}